$color: #b5495b;
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: all 0.25s linear;
}
button:hover {
	border-color: $color;
}

button:active {
	background-color: #ddd;
	background-color: $color;
	color: white;
}
